---
layout: default
title: Projects
---
<h1 class="page-header">Projects</h1>

<article class="container">
<ul class="project-list">
{% for page in site.pages %}
{% if page.type == 'project' %}
    <section class="index">
         {% if page.author.image %}<img src="/images/{{ page.author.image }}" class="avatar">{% endif %}
        <div>
            <h2 class="title"><a href="{{ page.url }}" rel="prefetch">{{ page.title }}</a></h2>
            <p>{{ page.excerpt }}</p>
            <div class="meta">
                Written By <address>{{ page.author.name }}</address> &mdash;
                <time pubdate datetime="{{ post.date | date: "%Y-%d-%B" }}" title="{{ post.date | date: "%B %d, %Y" }}">{{ post.date | date: "%B %d, %Y" }}</time>
            </div>            
        </div>
        <hr>
    </section>	
{% endif %}
{% endfor %}
</ul>
</article>