<div class="container">
  &copy; {{ site.time | date: "%Y" }} Mac Clayton
  <div class="social-buttons">
  <ul>
    <li>
      <a href="//instagram.com/mclayton7" target="_blank">
        <i class="fa fa-instagram fa-lg"></i>
      </a> 
    </li>
    <li>
    <a href="//facebook.com/mac.clayton">
      <i class="fa fa-facebook fa-lg"></i>
    </a>
    </li>
    <li>
      <a href="//twitter.com/macclayton" target="_blank">
      <i class="fa fa-twitter fa-lg"></i>
    </a>
    </li>
    <li>
          <a href="//github.com/mclayton7" target="blank">
      <i class="fa fa-github fa-lg"></i>
    </a>
    </li>
  </ul>
     
    

  </div>
</div>
