<div class="container">
  &copy; {{ site.time | date: "%Y" }} Mac Clayton
  <div class="social-buttons">
  <ul>
    <li>
      <a href="//instagram.com/{{site.instagram_id}}" target="_blank">
        <i class="fa fa-instagram fa-lg"></i>
      </a> 
    </li>
    <li>
    <a href="//facebook.com/{{site.facebook_id}}">
      <i class="fa fa-facebook fa-lg"></i>
    </a>
    </li>
    <li>
      <a href="//twitter.com/{{site.twitter_id}}" target="_blank">
      <i class="fa fa-twitter fa-lg"></i>
    </a>
    </li>
    <li>
          <a href="//github.com/{{site.github_id}}" target="blank">
      <i class="fa fa-github fa-lg"></i>
    </a>
    </li>
    <li>
          <a href="//linkedin.com/in/{{site.linkedin_id}}" target="blank">
      <i class="fa fa-linkedin fa-lg"></i>
    </a>
    </li>    
  </ul>
     
    

  </div>
</div>
