html {
	font-size: 125%;
}
.intro {
	padding: 3rem 0;
}
header {
	margin-bottom: 2.9rem;
}
.toggle-nav {
	display: none;
}
nav {
	float: right;
	height: auto;
	width: auto;
	&.hidden {
		height: auto;
	}
	ul {
		margin-top: 0;
	}
	li {
		border: 0;
		float: left;
		font-size: 0.9rem;
		margin-left: 1.5rem;
		&:first-child {
			margin-left: 0;
		}
		a {
			font-size: .875em;
			padding: 0.6rem 0 0.4rem 0;
		}
		&:last-child a {
			padding-bottom: 0.4rem;
		}
	}
}

