// Base Mobile Stylesheet

// Contain floats: nicolasgallagher.com/micro-clearfix-hack/
.clearfix {
  zoom: 1;
	&:before, &:after { content: ""; display: table; }
	&:after { clear: both; }
}

// Border Box all things: http://paulirish.com/2012/box-sizing-border-box-ftw/
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing:    border-box;
	box-sizing:         border-box;
	margin: 0px;
	padding: 0px;
}

html, body {
	height: 100%;
	font-size: 100%;
	color: $base-font-color;
}

header {
	background: #fff;
	border-bottom: 1px solid #eee;
	overflow: hidden;
	margin-bottom: 2rem;
	padding: 0.5rem 0;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	.container {
		padding: 0;
	}
}

footer {
	color: #999;
	text-align: center;
	.container {
		padding: 2rem;
	}
}

// Navigation:
.toggle-nav {
	background: url("/assets/img/toggle-nav.png");
	cursor: pointer;
	display: block;
	float: right;
	height: 26px;
	width: 27px;
	margin: 0.5rem 0;
}

nav {
	height: 0;
	margin: 0;
	overflow: hidden;
	padding: 0;
	width: 100%;
	&.hidden {
		height: 0;
	}
	&.visible {
		height: auto;
	}
	ul {
		margin: 0.5rem 0 0 0;
		overflow: hidden;
		padding: 0;
	}
	li {
		border-top: 1px solid #eee;
		list-style: none;
		margin-bottom: 0;
		text-align: center;
		a {
			color: #999;
			font-size: 1rem;
			font-weight: 600;
			display: block;
			-moz-transition: color 0.2s ease-out;
			-webkit-transition: color 0.2s ease-out;
			transition: color 0.2s ease-out;
			padding: 0.8rem 0;
		}
		&:last-child a {
			padding-bottom: 0.3rem;
		}
		a:hover {
			color: #333;
			text-decoration: none;
		}
	}
}

// Circle Image:
.circle-image {
	display: block;
	max-width: 200px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	margin: 0 auto 1.5rem auto;
}

// Body Styling:
body {
	p {
		margin-bottom: 2em;
	}
}






