// Base Mobile Stylesheet

// Contain floats: nicolasgallagher.com/micro-clearfix-hack/
.clearfix {
  zoom: 1;
	&:before, &:after { content: ""; display: table; }
	&:after { clear: both; }
}

// Border Box all things: http://paulirish.com/2012/box-sizing-border-box-ftw/
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing:    border-box;
	box-sizing:         border-box;
	margin: 0px;
	padding: 0px;
}

html, body {
	height: 100%;
	font-size: 90%;
	color: $text-color;
	// background-color: rgb(253, 253, 253);
	font-family: "PT Serif", sans-serif
}

.container {
  margin: 0 auto;
  max-width: 32rem;
  width: 90%;
}

ol {
	list-style-type: decimal;
}
ul {
	list-style-type: disc;
}

img.center { 
    display: block; 
    margin-left: auto; 
    margin-right: auto;

}



.numbered-list {
	list-style-type: decimal;
}

.bullet-list {
	list-style-type: disc;
}

.no-list-type {
	list-style-type: none;
}

.colored-box {
	border: 5px solid red;
}

.center-text {
	text-align: center;
}

h1, h2 {
	a {
		color: $title-color;
	}
	a:visited {
		color: #0068A1;
	}
}

header {
	background: #fff;
	border-bottom: 1px solid #eee;
	overflow: hidden;
	margin-bottom: 2rem;
	padding: 0.5rem 0;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	.container {
		padding: 0;
	}
}

footer {
	color: #999;
	text-align: center;
	.container {
		padding: 2rem;
	}
}

img {
	.img-header {
		margin-top: 1.5em;

	}
	max-width: 100%;
	max-height: 100%;
}

// Navigation:
.toggle-nav {
	background: url("/images/toggle-nav.png");
	cursor: pointer;
	display: block;
	float: right;
	height: 26px;
	width: 27px;
	margin: 0.5rem 0;
}

.home-nav {
	text-align: center;
	font-family: 'Arvo', sans-serif;
	h4 {
		padding-bottom: 1.5em;
	}
	padding-bottom: 4em;
}

.logo {
	margin: 0 auto;
	display: inline-block;

	a, a:visited {
		font-family: 'Lato', sans-serif;
		font-weight: 300;
		font-size: 32px;
		text-decoration: none;
		color: gray;
	}
}

.meta {
	font-family: 'Arvo';
	color: gray;
}

.index {
    margin:0 5em;
    
    > div{
        display:table-cell;
    }
    
    .title {
        margin:0em 0 0.6em;
    }
    
    .avatar {
        float:left;
        border-radius:62px;
        height:48px;
        width:48px;
        margin-top:0;
        margin-right:30px;
    }
}

.nav {
	text-align: center;
	padding-bottom: 1em;
	ul {
		margin: 0;
		padding: 0;
	}
	li {
		padding: 5%;
		margin: 0 10px 0;
		display: inline-block;
		list-style: none;
		text-align: center;
		h1 {
			margin: 0 !important;
		}
	}
	li:hover {

	}

	.active {
		background-color: $accent;
		color: white !important;
		-webkit-box-shadow: 3px 4px 1px 0px rgba(0,0,0,0.75);
		-moz-box-shadow: 3px 4px 1px 0px rgba(0,0,0,0.75);
		box-shadow: 3px 4px 1px 0px rgba(0,0,0,0.75);
		h1 {
			color: white;
		}
	}
}



nav {
	height: 0;
	margin: 0;
	overflow: hidden;
	padding: 0;
	width: 100%;
	&.hidden {
		height: 0;
	}
	&.visible {
		height: auto;
	}
	ul {
		margin: 0.5rem 0 0 0;
		overflow: hidden;
		padding: 0;
	}
	li {
		border-top: 1px solid #eee;
		list-style: none;
		margin-bottom: 0;
		text-align: center;
		a {
			font-family: 'Lato', sans-serif;
			text-decoration: none;
			color: #999;
			font-size: 1rem;
			font-weight: 600;
			display: block;
			-moz-transition: color 0.2s ease-out;
			-webkit-transition: color 0.2s ease-out;
			transition: color 0.2s ease-out;
			padding: 0.8rem 0;
		}
		&:last-child a {
			padding-bottom: 0.3rem;
		}
		a:hover {
			color: #333;
			text-decoration: none;
		}
	}
}

// Circle Image:
.circle-image {
	display: block;
	max-width: 200px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	margin: 0 auto 1.5rem auto;
}

// Body Styling:
body {
	p {
		margin-bottom: 1.5em;
	}
}

footer {
	color: gray;
}

// 404 Error Page:
.fourOHfour {
	text-align: center;
	h1 {
		font-size: 5rem;
	}
}

// Social Buttons:
.social-buttons {
	padding-top: 0.5em;
	a {
		padding: 0.75em;
		color: gray;
	}
	i:hover {
		color: #0068A1;
	}
	a:visited {
		color: gray;
	}
	li {
		display: inline-block;
	}
}

// Header (Hero)
.hero {
	display: block;
	text-align: center;
	h1{
		font-family: 'lato', sans-serif;
		font-size: 4rem;
	}
	padding-bottom: 3em;
}

// Page Header
.page-header {
	text-align: center;
	font-size: 3em;
}

.project-list {
	li {
		padding-bottom: 1em;
		span {
			margin-top: 0.5em;
			color: $grey-accent;
			font-style: italic;
		}
	}
}

// code {
// 	border: 1px rgb(210, 210, 210);
// 	background: rgb(240, 240, 240);
// 	padding: 0.05em 0.2em;
// 	font-size: 0.9em;
// }

// Styling embedded code
pre {
	// make the size smaller
	font-size: 0.75em;
	code {

	}
}
