<!DOCTYPE html>
<html>
    <head>
        {% include head.html %}
    </head>
        <body>
             <!--[if lt IE 8]>
                <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
            <![endif]-->
            <header>
                <div class="container">
                    {% include navigation.html %}
                </div>
            </header>
                
            <div class="container">
                {{ content }}
            </div>

            <footer>
                {% include foot.html %}            
            </footer>
        </body>
</html>