---
layout: default
---
{% if page.cover_image %}
<div class="article-cover">
    <div>
        <img src="/images/{{ page.cover_image }}" class="image">
    </div>
</div>
{% endif %}
<article>
    <div class="container">
        <header>
            <div class="meta">
                By <address><a rel="author" href="{{ page.author.link }}" title="{{ page.author.name }}" target="_blank">{{ page.author.name }}</a></address>
            </div>
            <h1 class="title">{{ page.title }}</h1>
            {% if page.excerpt %}<h2 class="subtitle">{{ page.excerpt }}</h2>{% endif %}
            {% if page.github %}<a href="{{ page.github }}">{{ page.github }}</a>{% endif %}
        </header>

        <section class="container">
            {{ content }}
        </section>
    </div>
</article>
